body {
    background-color: aqua;
}

/**************
Calculator
**************/
#calculatorBody {
    display: block;
    border-radius: 10%;
    margin: 0 auto;
    background-color: #575859;
    width: 300px;
    height: 450px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
}
#calcHeader {
    font-size: 0.8em;
    text-align: center;
    font-family: sans-serif;
}


/**************
Number Displays
**************/
.numDisplay {
    padding-left: 80px;
    margin-bottom: 20px;
    border: 1px solid white;
}
#toEvalDisplay {
    font-size: 0.8rem;
    font-style: italic;
}


/**************
Math Function Buttons
**************/
#mathBtns {
    margin-left: 40px;
}
.mathInput {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
}


#numbers {
    margin-left: 80px;
}
.numberInput {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
}
#equals {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
}
#clear {
    display: inline-block;
    width: 85px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
}