/******************************
Body
******************************/
body {
    background-color: aqua;
}


/******************************
Calculator
******************************/
#calculatorBody {
    display: block;
    border-radius: 10%;
    margin: 0 auto;
    background-color: #575859;
    width: 300px;
    height: 470px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;
}
#calcHeader {
    font-size: 0.8em;
    text-align: center;
    font-family: sans-serif;
}


/******************************
Number Displays
******************************/
.numDisplay {
    padding-left: 80px;
    margin-bottom: 10px;
    border: 1px solid white;
}
#toEvalDisplay {
    font-size: 0.8rem;
    font-style: italic;
}


/******************************
Math Function Buttons
******************************/
.mathInput {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
}
#mathBtns {
    display: flex;
    align-items: center;
    justify-content: center;
}


/******************************
Input Buttons
******************************/
.numberInput {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
}
#numbers {
    margin-left: 70px;
}
#equals {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
}
#clear {
    display: inline-block;
    text-align: center;
    width: 85px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
}