/*
Color Scheme: https://coolors.co/e9b000-e24e42-eb6e80-008f95-c9daea
*/

/******************************
Body
******************************/
body {
    background-color: #008F95;
    font-family: "Robot Mono", monospace;
}


/******************************
Calculator
******************************/
#calculatorBody {
    display: block;
    border-radius: 10%;
    margin: 0 auto;
    background-color: #EB6E80;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #000000;
}
#calcHeader {
    text-align: center;
    font-size: 0.8rem;
}


/******************************
Number Displays
******************************/
.numDisplay {
    padding-left: 80px;
    margin-bottom: 10px;
}
#toEvalDisplay {
    font-size: 0.8rem;
    font-style: italic;
}


/******************************
Math Function Buttons
******************************/
.mathInput {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 1.5px solid black;
    border-radius: 20%;
    background-color: #C9DAEA;
}
#mathBtns {
    display: flex;
    align-items: center;
    justify-content: center;
}


/******************************
Input Buttons
******************************/
.numberInput {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 1.5px solid black;
    border-radius: 20%;
    background-color: #E9B000;
}
#numbers {
    margin-left: 55px;
}
#equals {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: 1.5px solid black;
    border-radius: 20%;
    background-color: #C9DAEA;
}
#clear {
    display: inline-block;
    text-align: center;
    width: 105px;
    height: 40px;
    margin: 10px;
    border: 1.5px solid black;
    border-radius: 15%;
    background-color: #E24E42;
}